<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv='X-UA-Compatible' content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="favicon.png">
	<title> Document </title>
	<link rel="stylesheet" href="./css/styles.css">

	<!-- HTML5 shim and Respond.js-->
	<!-- [if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<! [endif]-->	

</head>
<body>
<header class="header">
	<nav class="nav wrapper">
		<a href="index.html" class="nav-logo">
			<img src="./img/svg/logo.svg" alt="logo" 
			class="nav-logo__img">
		</a>
		<ul class="nav-menu">
			<li class="nav-menu__li">
				<a href="#robots" href="index.html" class="nav-menu__li_a">ROBOTS</a></li>
			<li class="nav-menu__li">
				<a href="" class="nav-menu__li_a">JOBS</a></li>
			<li class="nav-menu__li">
				<a href="" class="nav-menu__li_a">NEWS</a></li>
			<li class="nav-menu__li">
				<a href="" class="nav-menu__li_a">ABOUT</a></li>
			<li class="nav-menu__li">
				<a href="" class="nav-menu__li_a">CONTACT</a></li>
			<li class="nav-menu__li">
				<a href="#" class="nav-menu__li_youtube">YouTube</a>	
			</li>
		</ul>
		<button class="mobail-menu">
			
		</button>
	</nav>
</header>
	

<script src="./js/jquery.min.js"  ></script>

<script src="./js/js.js"></script>
</body>
</html>