<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv='X-UA-Compatible' content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="favicon.png">
	<title> Document </title>
	<link rel="stylesheet" href="./css/styles.css">

	<!-- HTML5 shim and Respond.js-->
	<!-- [if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<! [endif]-->	

</head>
<body>
	<section class="first-screen first-screen{{_color}} ">
		<div class="slogan wrapper">
			<div class="slogan__img slogan__img{{_color}}">
				<img src="{{ img }}" alt="robot" class="slogan__img_front slogan__img_front{{classic}} ">
				<button class="slogan__img_btn">	
				</button>
			</div>
			{% include '_sloganDiscriptionRobots.html' %}
		</div>
	</section>
	<section class="about wrapper">
		<h2 class="about__h">
			About {{characteristic.name}}
		</h2>
		<div class="row">
		<div class="about__text">
			<p class="about__text_p">
				{{characteristic.text}}
			</p>
			<p class="about__text_p">
				{{characteristic.text2}}
			</p>
		</div>
		<div class="about-characteristic">
			<dl class="about-characteristic__dl">
					<dt class="about-characteristic__dt">
						<span>Height</span><span class="about-characteristic__dt_solid"></span>
					</dt>
					<dd class="about-characteristic__dd>
						{{characteristic.height}}
					</dd>
			</dl>
			<dl class="about-characteristic__dl">
				<dt class="about-characteristic__dt">
					<span>Weight</span><span class="about-characteristic__dt_solid"></span>
				</dt>
				<dd class="about-characteristic__dd" >
					{{characteristic.weight}}
				</dd>
			</dl>
			<dl class="about-characteristic__dl">
				<dt class="about-characteristic__dt">
					<span>Payload</span><span class="about-characteristic__dt_solid"></span>
				</dt>
				<dd class="about-characteristic__dd" >
					{{characteristic.payload}}
				</dd></dl>
			<dl class="about-characteristic__dl">
				<dt class="about-characteristic__dt">
					<span>Power</span><span class="about-characteristic__dt_solid"></span>
				</dt>
				<dd class="about-characteristic__dd" >
					{{characteristic.power}}
				</dd>
			</dl>
			<dl class="about-characteristic__dl">
				<dt class="about-characteristic__dt">
					<span>Actuation </span><span class="about-characteristic__dt_solid"></span>
				</dt>
				<dd class="about-characteristic__dd" >
					{{characteristic.acuation}}
				</dd>
			</dl>
				<dl class="about-characteristic__dl">
					<dt class="about-characteristic__dt">
					<span>Perception</span> <span class="about-characteristic__dt_solid"></span>
				</dt>
				<dd class=" about-characteristic__dd">
					{{characteristic.perception}}
				</dd>
			</dl>
				<dl class="about-characteristic__dl">
					<dt class="about-characteristic__dt">
					<span>Joints </span><span class="about-characteristic__dt_solid"></span>
				</dt>
				<dd class="about-characteristic__dd" >{{characteristic.joints}}</dd>
			</dl>
		</div>
		</div>
	</section>
	<section class="watch-video wrapper">
		<h2 class="watch-video__h">
			Watch video with {{name}}
		</h2>
		<div class="row">
			<figure class="watch-video__leftBlock">
				<div class="watch-video__leftBlock_height">
					{{ video.video1 | safe }}
				</div>
				
			</figure>
			<div class="watch-video__rightBlock">
				<figure class="watch-video__rightBlock_video1">
					<div class="watch-video__rightBlock_video1-height">
						{{ video.video2 | safe }}
					</div>
					
				</figure>
				<figure class="watch-video__rightBlock_video2">
					<div class="watch-video__rightBlock_video2-height">
						{{ video.video3 | safe }}
					</div>

				</figure>
				
			</div>
		</div>
		
	</section>
	

<script src="./js/jquery.min.js"  ></script>
<script src="./js/js.js"></script>
</body>
</html>