<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv='X-UA-Compatible' content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="favicon.png">
	<title> Document </title>
	<link rel="stylesheet" href="./css/styles.css">

	<!-- HTML5 shim and Respond.js-->
	<!-- [if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<! [endif]-->	

</head>
<body>
	{% include '_header.html' %}
<main>

	
	{% set img = '../img/svg/HD-01 Front.svg' %}
	{% include '_section.first-screen.html' %}
	<section class="our-robots wrapper">
		<h2 id="robots" class="our-robots__h">
			Our robots
		</h2>
		<ul class="our-robots__ul row">
			<li class="our-robots__li">
				<a href="pageSpot.html">
				<figure class="our-robots__img">
					<img src="./img/HD-01 Front.jpg" alt="" class="our-robots__img">
					<figcaption class="our-robots__figcaption">
						<h3 class="our-robots__figcaption_h">Spot</h3>
						<p class="our-robots__figcaption_p">Good Things Come in Small Packages</p>
					</figcaption>
				</figure>
				</a>
			</li>
			<li class="our-robots__li">
				<a href="pageHandle.html">
				<figure class="our-robots__img">
					<img src="./img/HD-01 Front1.jpg" alt="" class="our-robots__img">
					<figcaption class="our-robots__figcaption">
						<h3 class="our-robots__figcaption_h">Handle</h3>
						<p class="our-robots__figcaption_p">Mobile Box Handling Robots for Logistics</p>
					</figcaption>
				</figure>
				</a>
			</li>
			<li class="our-robots__li">
				<a href="pageAtlas.html">
				<figure  class="our-robots__img">
					<img src="./img/HD-01 Front2.jpg" alt="" class="our-robots__img">
					<figcaption class="our-robots__figcaption">
						<h3 class="our-robots__figcaption_h">Atlas</h3>
						<p class="our-robots__figcaption_p">The World's Most Dynamic Humanoid</p>
					</figcaption>
				</figure>
				</a>
			</li>
			<li class="our-robots__li">
				<figure class="our-robots__img">
					<a href="pageSpotClassic.html">
					<img src="./img/HD-01 Front3.jpg" alt="" class="our-robots__img">
					<figcaption class="our-robots__figcaption">
						<h3 class="our-robots__figcaption_h">Spot Classic</h3>
						<p class="our-robots__figcaption_p">Takes a Kicking and Keeps on Ticking</p>
					</figcaption>
				</figure>
				</a>
			</li>
		</ul>
	</section>
	<section class="news wrapper">
		<h2 class="news__h">News</h2>
		<p class="news__p">
			some media stories about us and the work we’ve been doing
		</p>
		<article class="news-article row">
			<figure class="news-article__blockLeft">
			  <img class="news-article__blockLeft_img" src="./img/BlockLeft.jpg" alt="news">
			  <figcaption class="news-article__blockLeft_data">
			  	<time datetime="2019-02-04">04/02/2019 | Press Release
			  	</time>
			  	<p class="news-article__blockLeft_p">
			  		Boston Dynamics to showcase ‘PICK’ System at the 2019 PROMAT Show
			  	</p>
			  </figcaption>
			</figure>
			<figure class="news-article__blockRight">
				<div class="section-one">
					<img  class="news-article__img" src="./img/BlockRight1.jpg" alt="News">
					<figcaption class="news-article__figure">
				  	<time class="news-article__figure_time" datetime="2019-02-04">
				  		04/02/2019 | Press Release
				  	</time>
				  	<h3 class="news-article__figure_h">
				  		Boston Dynamics’ New Rolling, Leaping Robot Is an Evolutionary Marvel
				  	</h3>
				  	<p class="news-article__figure_p"> 
				  		Handle isn’t just a startling reminder that highly sophisticated robots are here and stealing jobs, but that humans can create...
				  	</p>
				  </figcaption>
			  </div>
			  <div class="section-two">
			  	<img  class="news-article__img" src="../img/BlockRight2.jpg" alt="News">
					<figcaption class="news-article__figure">
				  	<time class="news-article__figure_time" datetime="2019-02-04">
				  		04/02/2019 | Press Release
				  	</time>
				  	<h3 class="news-article__figure_h">
				  		Boston Dynamics’ New Rolling, Leaping Robot Is an Evolutionary Marvel
				  	</h3>
				  	<p class="news-article__figure_p"> 
				  		Handle isn’t just a startling reminder that highly sophisticated robots are here and stealing jobs, but that humans can create...
				  	</p>
				  </figcaption>
			  	
			  </div>
			</figure>
		</article>
		<a href="#" class="news-all">all news</a>
	</section>
</main>
	{% include '_footer.html' %}
<script src="./js/jquery.min.js"  ></script>
<script src="./js/js.js"></script>
</body>
</html>