<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv='X-UA-Compatible' content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="favicon.png">
	<title> Document </title>
	<link rel="stylesheet" href="./css/styles.css">

	<!-- HTML5 shim and Respond.js-->
	<!-- [if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<! [endif]-->	

</head>
<body>
	{% include '_header.html' %}
<main>
	{% include '_section.first-screen.html' %}
	<section class="our-robots wrapper">
		<h2 class="our-robots__h">
			Our robots
		</h2>
		<ul class="our-robots__ul row">
			<li class="our-robots__li">
				<figure class="our-robots__img">
					<img src="./img/HD-01 Front.jpg" alt="" class="our-robots__img">
					<figcaption class="our-robots__figcaption">
						<h3 class="our-robots__figcaption_h">Spot</h3>
						<p class="our-robots__figcaption_p">Good Things Come in Small Packages</p>
					</figcaption>
				</figure>
			</li>
			<li class="our-robots__li">
				<figure class="our-robots__figure">
					<img src="./img/HD-01 Front1.jpg" alt="" class="our-robots__img">
					<figcaption class="our-robots__figcaption">
						<h3 class="our-robots__figcaption_h">Handle</h3>
						<p class="our-robots__figcaption_p">Mobile Box Handling Robots for Logistics</p>
					</figcaption>
				</figure>
			</li>
			<li class="our-robots__li">
				<figure class="our-robots__img">
					<img src="./img/HD-01 Front2.jpg" alt="" class="our-robots__img">
					<figcaption class="our-robots__figcaption">
						<h3 class="our-robots__figcaption_h">Atlas</h3>
						<p class="our-robots__figcaption_p">The World's Most Dynamic Humanoid</p>
					</figcaption>
				</figure>
			</li>
			<li class="our-robots__li">
				<figure class="our-robots__img">
					<img src="./img/HD-01 Front3.jpg" alt="" class="our-robots__img">
					<figcaption class="our-robots__figcaption">
						<h3 class="our-robots__figcaption_h">Spot Classic</h3>
						<p class="our-robots__figcaption_p">Takes a Kicking and Keeps on Ticking</p>
					</figcaption>
				</figure>
			</li>
		</ul>
	</section>
</main>

<script src="./js/js.js"></script>
</body>
</html>