@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';
@import 'libs/slick.less';
@import 'libs/slick-theme.less';
@font-face{
	font-family: "futura";
	src: url("../fonts/futubk-webfont.woff");
	src: url("../fonts/futubk-webfont.woff2") format("woff2");
	font-style: normal;
	font-weight:400;
};
@font-face{
	font-family: "futura";
	src: url("../fonts/futurabookbt-webfont.woff");
	src: url("../fonts/futurabookbt-webfont.woff2") format("woff2");
	font-style: normal;
	font-weight:600;
};

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	color: #000;
}


/* Global classes */
img{
	max-width: 100%;
	height: auto;
} 

.wrapper{
	.wrapper();
}
.row{
	.row-flex();
}

.clearfix:before,
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}
.clear{
	clear: both;
}

.visually-hidden{
	width: 1px;
	height: 1px;
	overflow: hidden;
	margin-top: -1px;
	margin-left: -1px;
	position: absolute;
	clip: rect(0,0,0,0);
	border: none;
}


/* Atomic classes */
.d-n{
	display: none;
}

.d-b{
	display: block;
}

/* Global classes */

.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 34px;
	min-height: 100px;



	.nav{
		display:flex;
		justify-content: space-between;
		align-items: center;

		.mobail-menu{
			display:none;
			.media(768px, {
				display:flex;
				});
				width: 30px;
				height: 30px;
				border:none;
				border-top: 2px solid black;
				border-bottom: 2px solid black;
				position:relative;
				background-color:transparent;
				&:before{
					content:'';
					position:absolute;
					top: 50%;
					width: 100%;
					border-top: 2px solid black;
					transform: translate(0, -50%);

				}
				&.closer{
						position:fixed;
						z-index:10;
						outline:none;
						@offser:50px;
						top:@offser;
						right: @offset;
						border:none;
						transition: 1s;
						
						&:before, &:after, {
							content:'';
							display:block;
							min-width: 100%;
							position: absolute;
							border: 1px solid #ffff;
							outline:none;
							transform-origin: 50% 50% ;
							transition: 0.5s;

							
						};
						&:before{
							transform: rotate(-45deg);


							
						};
						&:after{
							transform: rotate(45deg);
						};
					}
		}

		

		&-logo{
			display:relative;
			z-index:10;
			font-size:18px;
			text-decoration:none;
			color:black;
			width: 37px;
			height: 37px;
			&__img{
				min-width:37px;
				min-height:37px;
			}
			
		}

			&-menu{
				display:flex;
				display:relative;
				z-index:10;
				list-style-type: none;
				justify-content:space-between;	
				align-items:center;	
				align-self: center;
				.media(768px, {
					display:none;
					});
				&.isOpened{
					display:flex;
					flex-direction:column;
					justify-content:center;
					align-items:center;
					position:fixed;
					z-index:7;

					top: 0;
					left: 0;
					width: 100%;
					height: 100vh;
					background-color: rgba(0,0,0,0.9);
				}

				
				
				&__li{
					margin-right: 30px;
					font-size:12px;
					&:nth-child(5){
						margin-right: 90px;
					}
					.media(768px, {
							margin-bottom: 50px;
							&:nth-child(5){
								margin-right: 0;
							}

							});

					&_a{
						text-decoration: none;
						font-family: Futura Bk BT;
						font-size: 12px;
						line-height: 14px;
						color: #000000;
						.media(768px, {
							color:white;
							font-size:30px;
							
							});
					}
					&_youtube{
						align-self: center;
						text-decoration: none;
						color:black;
						font-size: 14px;
						line-height: 21px;
						.media(768px, {
							color:white;
							font-size:30px;
							});
						&:before{
							content:'';
							display:inline-block;
							background-image: url(../img/svg/Vector.svg);
							width: 21px;
							height: 16px;
							margin-right: 10px;
						}
					}		
				}
			}	
		}
}
.first-screen{
	
	margin-bottom: 95px;

	&:before{
		content: '';
		position:absolute;
		z-index: -3;
		top: 0;
		left: 0;
		width: 295px;
		height: 768px;
		background: rgba(60, 193, 224, 0.6);
		.media(560px, {
				width: 100%;			
				});
	}
	&_orange{
		&:before{
		background: rgba(255, 245, 0, 0.85);
		}
	}
	&_red{
		&:before{
			background: rgba(237, 22, 35, 0.66);
		}
	}
	&_blue{
		&:before{
		background: rgba(36, 55, 226, 0.38);
		}
	}

	.slogan{
		display:flex;
		justify-content:space-between;
		padding-top: 172px;
		.media(993px, {
				display:block;
				});
		.media(560px, {
				padding-top: 30px;

				});
		&__img{
			.size(6);
			background:linear-gradient(130.49deg, #3CC1E0 2.44%, #00CFFF 93.99%), #53DDFE;
			 width: 491px;
			height: 491px;
			border-radius: 100%;
			margin-left: -46px;
			position:relative;
			z-index:5;
			.media(993px, {
				margin: 0 auto;
				margin-bottom: 120px;

				});
			.media(560px, {
				height: 300px;
				width: 300px;
				margin: 0;
				overflow:hidden;
				});
			
			
			
			
			&:before{
				content:'';
				position:absolute;
				z-index:0;
				width: 322.5px;
				height: 579px;
				top: -19px;
				left: 41%;
				background-image: url('../img/svg/Ellipse1.svg');
				background-repeat:no-repeat;
				.media(560px, {
				display:none;
				});

			}
			&:after{
				content:'';
				position:absolute;
				z-index:0;
				width: 322.5px;
				height: 580px;
				top: -49px;
				left: 42%;
				background-image: url('../img/svg/Ellipse3.svg');
				.media(560px, {
				display:none;

				});
			}
			&_front{
				margin-top: -120px;
				margin-left: 23px;
				.media(560px, {
				margin: 0;
				overflow:hidden;
				});
				&-classic{
					position:relative;
					top: 60px;
					left: -80px;
					overflow:hidden;
					.media(560px, {
						top: 0;
						left: -40px;
				
					});
				}
				&-spot{
					position:relative;
					left: -90px;
					top: 40px;
					min-width: 800px;
					.media(560px,{
						min-width:500px;
						top: 0;
						left: -70px;
						});
				}
				
				
			
			}
			&_orange{ /* ОРАНЬЖЕВЫЙ ЦВЕТ ЕЛИПСА*/
				background: linear-gradient(125.14deg, #DAA000 3.27%, #FFDD2C 94.7%), #FFD600;
				&:before{
					background-image: url('../img/svg/EllipseOrange.svg');
				};
				&:after{
					background-image: url('../img/svg/EllipseOrange2.svg');
				}
			}
			&_red{
				background: linear-gradient(130.49deg, #FA2E5F 2.44%, #ED1623 93.99%), #53DDFE;
				&:before{
					background-image: url('../img/svg/EllipseRed.svg');
				};
				&:after{
					background-image: url('../img/svg/EllipseRed2.svg');
				}

			}
			&_blue{
				background: linear-gradient(130.49deg, #2437E2 2.44%, #038CB7 93.99%), #53DDFE;
				&:before{
					background-image: url('../img/svg/EllipseBlue.svg');
				};
				&:after{
					background-image: url('../img/svg/EllipseBlue2.svg');
				}

			}
			
			
			&_btn{
				position:absolute;
				top: 0;
				right:50px;
				width: 50px;
				height: 50px;
				z-index:30;
				cursor:pointer;
				border-radius: 50%;
				background-color: #FFFFFF;
				transition: 0.5s;
				.media(560px, {
				top: 30px;

				});
				
				box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
				
					&:before{
						content:'';
						position:absolute;
						background-image:url('../img/svg/Polygon.svg');
						background-repeat:no-repeat;
						transform: translate(-50%, -50%);
						top: 50%;
						left: 55%;
						width: 17px;
						height: 17px;
					}
				&:hover{
						transform: scale(1.2);
					}
				
			}
		}


		&-discription{
			.size(6);
			.media(993px, {
				display:block;
				width: 100%;
				
				});



			&__text{
				max-width: 631px;
				font-family:futura;
				font-size: 57px;
				font-weight: 800;
				line-height: 70px;
				color: #000000;
				margin-bottom: 35px;
				.media(993px, {
					font-size:40px;
					.size(12);
					max-width:100%;
					
					});
			}
			&__h{
				font-family:futura;
				font-size: 30px;
				line-height: 36px;
				margin-bottom: 12px;
			}
			&__specification{
				.col();
				.size(6);
				font-family:futura;
				font-size: 14px;
				line-height: 17px;
				margin-bottom: 141px;
				.media(993px, {
						margin-bottom: 40px;
					});

			}
			&__btn{
				font-family:futura;
				width: 187px;
				height: 58px;
				line-height:58px;
				text-align: center;
				text-decoration:none;
				color: #FFFFFF;
				font-size: 18px;
				background-color: #000000;
				display:inline-block;
				margin-bottom: 121px;
				.media(993px, {
				width: 300px;
				display:block;
				margin: 0 auto;
				margin-bottom: 20px;
				});
				.media(560px, {
				margin-bottom: 30px;

				});

			}
			&__link{
				
				&_p{
					margin-bottom: 3px;
				}
				&_a{
					text-decoration:none;
					margin-right: 5px;
					display:inline-block;

					.media(993px,{
						.size(3);
						text-align:center;

						
						});
			}
			.media(993px,{
						.size(12);
						
						
						});
				}

			&__p{
				margin-top: 10px;
				margin-left: -459px;
				font-family: Roboto;		
				font-style: normal;
				font-weight: normal;
				font-size: 10.06944444444444vw;
				line-height: 170px;
				position:relative;
				z-index:-3;	
				color: #E5E5E5;
				.media(1920px,{
					font-size:7.552083333333333vw;
					});
				.media(993px, {
				display:block;
				.size(12);
				margin: 0 auto;
				font-size: 60px;
				});
				.media(564px, {
				font-size:40px;
				line-height: 90px;
				});
				.media(330px, {
				font-size:35px;

				});
				

			


				&:before{
					content:'';
					position:absolute;
					left: -400px;
					bottom: 0;
					right: -40px;
					top: 59%;
					background-color:white;
					.media(993px,{
								display:none;
						});
					.media(1660px,{
						display:block;
						});
					.media(1920px,{
					display:none;
					});
				
						
				}			
			}
		}
	}
}
.our-robots{
	&__h{
		text-align:center;
		font-size: 58px;
		line-height: 70px;
		color: #000000;
		margin-bottom: 100px;

	}
	&__ul{
		justify-content:flex-end;
		padding-bottom: 121px;

	}
	&__li{
		list-style:none;
		.col();
		.size(3);
		.size-sm(6);

	}
	.our-robots__a{
		text-decoration:none;
		color:black;
	}
	&__img{
		width: auto;
		margin-bottom: 26px;
		text-align:center;

	}
	&__figcaption{
		text-align:center;
		&_h{
			font-size: 30px;
			line-height: 36px;
			margin-bottom: 15px;
		}
		&_p{
			font-size: 12px;
			line-height: 12px

		}

	}
}
.news{
	&__h{
		font-size: 58px;
		line-height: 70px;
		text-align: center;
		margin: 19px;
	}
	&__p{
		font-family: Futura;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		width: 266px;
		margin: 0 auto;
		margin-bottom: 34px;
	}

	&-article{
		margin-bottom: 40px;
		.media(993px,{
			flex-wrap:wrap;
			});

		&__blockLeft{
			.col();
			.size(6);
			.media(993px,{
				.size(12);
				margin-bottom: 30px;

			});
			&_img{
				.media(993px,{
				.size(12);
				

			});

			}

			&_data{
				color: #999999;
				font-size: 14px;
				line-height: 17px;
				
			}
			&_p{
				font-size: 24px;
				line-height: 29px;
				max-width: 590px;
				color: #000000;
				font-weight: bold;
					.media(993px,{
						text-align:center;
						margin: 0;
						max-width:100%
				});
			}
		}

		&__blockRight{
			.col();
			.size(6);
			.media(993px,{
				.size(12);
			});
			.section-one{
				margin-bottom: 21px;
					.media(993px,{
					.size(12);
					});
						.media(670px,{
						display:inline-block;
						.size(6);
					});
						.media(670px,{
						display:block;
						.size(12);
					});
					

					.news-article__img{
						width: 50%;
						margin-right: 20px;
							.media(993px,{
							.size(6);
						});
						.media(670px,{
							.size(12);
						});
						
					}
					.news-article__figure{
						display:inline-block;
						width: 45%;
						.media(993px,{
							.size(6);
						});
						.media(670px,{
								display:block;
							});
						.media(670px,{
							.size(12);
						});
						
						&_time{

						
						}
						&_h{
							font-size: 18px;
							line-height: 22px;
							font-weight: bold;
							margin-bottom: 20px;
						}
						&_p{
							font-size: 14px;
							line-height: 17px;
							color: #555555;

						}
					}

			}
			.section-two{
					.media(993px,{
					.size(12);
				});
					.media(670px,{
						display:inline-block;
						.size(6);
					});
					.media(670px,{
						display:block;
						.size(12);
					});

				.news-article__img{
					width: 50%;
					margin-right: 20px;
					.media(993px,{
							.size(6);
						});
					.media(670px,{
							.size(12);
						});	
				}
				.news-article__figure{
					display:inline-block;
					width: 45%;
					.media(670px,{
								display:block;
							});
					.media(670px,{
							.size(12);
						});
					
						&_time{

							
						}
						&_h{
							font-size: 18px;
							line-height: 22px;
							color: #000000;
							font-weight: bold;
							margin-bottom: 20px;
						}
						&_p{
							font-size: 14px;
							line-height: 17px;
							color: #555555;

						}
					}
			}

		}		
	}
	&-all{
		display:inline-block;
		width: 100%;
		text-align: right;
		margin-bottom: 103px;
	}
}
.footer{
	border-top: 1px solid #E0E1EA;
	background-color:white;

	&__p{
		margin-top: 26px;
		margin-bottom: 23px;
		text-align: center;

		font-family: Futura Bk BT;
		font-size: 14px;
		line-height: 17px;
	}
}


/* Секция About с 2 по 4 стр */
.about{
	margin-bottom: 207px;
	&__span{
		&_atlas{
			color:cyan;
		
		};
		&_spot{
			color:yellow;
		};
		&_handle{
			color:red;
		}
		&_spotClassic{
			color:blue;
		}

	}
	&__h{
		font-family: Futura Md BT;
		font-size: 58px;
		line-height: 70px;
		color: #000000;
		margin-bottom: 44px;
		
	}
	&__text{
		.col();
		.size(6);
		font-family: Futura Bk BT;
		font-size: 16px;
		line-height: 19px;	
		margin-right: 90px;
		&_p{
			.size(12);
			margin-bottom: 40px;
		}
		.media(1000px,{
			margin-right: 0;
			flex-wrap:wrap;
			.size(10);

			});
	}
	&-characteristic{
		.col();
		.size(5);
		.media(1000px,{
			.size(12);			
			});
		.media(387px,{
					
			});

		&__dl{
			display:flex;
			justify-content:space-between;
		}
		&__dt{
			display:flex;
			flex-grow:1;
			margin-bottom: 20px;
			list-style:none;
			font-family: Futura;
			font-size: 16px;
			line-height: 19px;
			color: #555555;

			&_solid{
				flex-grow: 1;
 				border-bottom: 1px solid #E0E1EA;
  				position: relative;
  				margin-left: 3px;
  				margin-right: 3px;
 				bottom: 4px;
			}
		}
		&__dd{
			font-family: Futura Md BT;
			font-size: 16px;
			line-height: 19px;
			font-weight: 600;
				color: #000000;
		}
		
	}
}
/* Секция watch video с 2 по 4 стр */
.watch-video{
	padding-bottom: 138px;
	&__h{
		font-family: Futura Md BT;
		font-size: 4.02777777vw;
		line-height: 70px;
		color: #000000;
		max-width: 351px;
		margin-bottom: 50px;
		.media(715px,{
			font-size:27px
			});
	}
	&__leftBlock{
		.col();
		.size(6);
		.media(700px,{
				.size(12);
				padding: 30px;
				});
		&_height{
			width: 100%;
			padding-top: 56.25%;
			position:relative;
		iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height:100%;
		}
		}
	}
	&__rightBlock{
		.col();
		.size(6);
		.media(700px,{
				.size(12);
				padding: 30px;
				});

		&_video1{
			.col();
			.size(6);
			margin-bottom: 20px;	
			.media(700px,{
				.size(12);
				padding: 30px;
				
				});
				&-height{
					width: 100%;
					padding-top: 56.25%;
					position:relative;
					iframe{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height:100%;
					}
			}	
		}
		&_video2{
			.col();
			.size(6);		
			.media(700px,{
				.size(12);
				padding: 30px;
				});
			&-height{
					width: 100%;
					padding-top: 56.25%;
					position:relative;
					iframe{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height:100%;
					}
			}

		}
	
		
		
	}
}

/* Секция Jobs */
.jobs{
	margin-top: 181px;
	position: relative;
	.row{
		margin-bottom: 150px;
	}
	&__h2{
	.shift-left(0.9);
	font-family: Futura Md BT;
	font-size: 58px;
	line-height: 70px;
	color: #000000;
	margin-bottom: 48px;
	}
	&-listings{
		.col();
		.size(5.2);
		.shift-left(1);
		.media(980px,{
			.size(12);
			.shift-left(0);
			text-align:center;
			});
		&__h{
			font-family: Futura Md BT;
			font-size: 30px;
			line-height: 36px;
			color: #000000;
			margin-bottom: 25px;
		}
		&__ul{
			list-style:none;
		}
		&__li{

			&_h{
				font-family: Futura Md BT;
				font-size: 18px;
				line-height: 22px;
				color: #000000;
				margin-bottom: 7px;

			}
			&_p{
				margin-bottom: 20px;

			}
		}
	}
	&-hiring{
		.col();
		.size(5);
		.media(980px,{
			.size(12);

			});
		&__h{
			margin-bottom: 24px;
			font-family: Futura Md BT;
			font-size: 30px;
			line-height: 36px;
			color: #000000;
		}
		&__p{
		width: 550px;
		margin-bottom: 30px;
		font-family: Futura Bk BT;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		.media(1182px,{
			width: auto;
			
			});
		.media(1182px,{
			width: auto;
			});
		}
		
	}

.boston{
		position:relative;
		z-index:-1;
		margin-bottom: -45px;
		margin-left: 200px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 10.06944444444444vw;
		line-height: 170px;
		color: #E5E5E5;
		.media(1000px,{
			margin: 0 auto;
			});
		.media(1440px,{
			margin-bottom: -45px;
		margin-left: 200px;
			});
		.media(2000px,{
			margin: 0 auto;
			});
	}
}
/* Секция News */
.developments{
	margin-top: 182px;
	&__h{
		font-size: 58px;
		line-height: 70px;
		color: #000000;
		margin-bottom: 25px;
	}
	&__p{
		font-family: Futura Bk BT;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		margin-bottom: 45px;
	}

	&-ul{
	list-style:none;
	margin-bottom: 76px;
	}
	&-li{
		.col();
		.size(4);
		.size-xs(6);
		.media(500px, {
			.size(12);
			});

		&__img{
			margin-bottom: 23px;
		}
		&__time{
			font-family: Futura Bk BT;
			font-size: 14px;
			line-height: 17px;
			color: #999999;
			margin-bottom: 10px;
		}
		&__h{
			font-family: Futura Md BT;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
			margin-bottom: 10px;

		}
		&__p{
		font-family: Futura Bk BT;
		font-size: 16px;
		line-height: 19px;
		color: #555555;
		margin-bottom: 10px;
		}
	}

	&__link{
		text-align:center;
		margin-bottom: 75px;
		&_a{
		 text-decoration:none;
		 color:black;

		}

	}
}

/* секция Some */
.some{
	margin-top: 182px;
	display:flex;
	align-items:center;
	.media(850px,{
			flex-wrap:wrap;
			});
	
	

	&__article{
		.size(6);
		.media(850px,{
			.size(12);
			});
		&_h{
		font-family: Futura Md BT;
		font-size: 58px;
		line-height: 70px;
		color: #000000;
		margin-bottom: 82px;
		.media(850px,{
			margin-bottom: 30px;
			
			});
		.media(490px,{
			
			font-size: 40px;
			});
		.media(350px,{
			
			font-size: 28px;
			});


	}
		&_p{

			margin-bottom: 73px;
			font-family: Futura Bk BT;
			font-size: 16px;
			line-height: 19px;

			color: #000000;
			

		}
		&_data{
			margin-bottom: 107px;
				.media(850px,{
				margin-bottom: 30px;
				});
		}


	}
	&__img{
		.size(6);
		.shift-left(0.6);
		.media(850px,{
			.size(12);
			.shift-left(0);
			});
	}
}

/* Секция Contact */
.contact{
	margin-top: 182px;
	&-h{
	font-family: Futura Md BT;
	font-size: 58px;
	line-height: 70px;
	color: #000000;
	margin-bottom: 14px;
	
	}

	&-p{
	font-family: Futura Bk BT;
	font-size: 16px;
	line-height: 19px;
	color: #555555;
	margin-bottom: 48px;
	}


		&-form{
			display:flex;
			flex-wrap: wrap;
			fieldset{
				border:none;
			}
			

			&__input{
				&::placeholder{
					color:black;
					font-size: 16px;
					line-height: 19px;

				}
				.col();
				.size(6);
				font-family: Futura Bk BT;
				font-size: 16px;
				line-height: 19px;
				color: #000000;
				margin-bottom: 20px;
				border:none;
				border-bottom:  1px solid #BBBBBB;
				padding: 15px 0;
			
			&_massage{
				.col();
				.shift-left(0.4);
				.size(6);
						.media(768px,{
						.size(12);
						height: 90px;
						.shift-left(0);
						});
					&::placeholder{
					color:black;
					font-size: 16px;
					line-height: 19px;

				}
				
			}

			}

			&__about{
			.size(3);
			
			.media(768px,{
				.size(6);
				});
			.media(450px,{
				.size(12);
				margin-bottom: 20px;
				});




				&_legend{
					margin-bottom: 15px;
					font-family: Futura Bk BT;
				font-size: 16px;
				line-height: 19px;
				color: #000000;
				}	

				&_p{
					margin-bottom: 5px;
				}
			}
			
			&__button{
				margin-top: 50px;
				width: 187px;
				height: 58px;
				color:white;
				background-color: #000000;
				line-height:58px;
				border:none;
				font-size: 18px;
				font-family: Futura Bk BT;
				margin-bottom: 108px;
				.media(430px,{
				width: 100%;

				});
			}

		}
}



